@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*----------------------VARIABLES-------------------------*/


:root{
    --primary-color: #ffc042;
    --secondary-color: #ffd88a;
    --accent-color: #ffaa01;
    --accent-color-softer: #ffb82a;
    --brand-gradient: linear-gradient(90deg, #FFD95A 10%, #fff1b0 50%, #FFD95A 100%);
    --box-shadow:#f8f4f4;
    --black: #060600;
    --white: rgb(255, 255, 240);
}






/*----------------------GENERAL STYLES-------------------------*/

/* Resetting box-sizing for all elements */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Setting base font size to 10px (62.5% of the default browser font size) */
html {
    font-size: 62.5%;
}
/*Now, 1rem = 10px, 1.6rem = 16px, 2.6rem = 26px etc*/

body{
    background-color: var(--white);
    color: var(--black);
    font-family: "Exo 2", sans-serif;
    line-height: 1.5;
    overflow: hidden auto; /*Hides horizontal overflow and shows vertical scrollbar only when there is an overflow*/
    word-spacing: 2px;
    margin: 0;
}



/*----------------------TYPOGRAPHY - mobile version-------------------------*/

body{
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1rem;
}
h1{
    font-size: 4.055rem;
}
h2{
    font-size: 3.604rem;
}
h3{
    font-size: 3.204rem;
}
h4{
    font-size: 2.848rem;
}
h5{
    font-size: 2.531rem;
}
h6{
    font-size: 2.25rem;
}
p{
    margin-top: 0;
}

@media screen and (min-width:1024px) {

    /*TYPOGRAPHY - laptop version*/

    body{
        font-size: 1.6rem;
    }
    h1{
        font-size: 3.244rem;
    }
    h2{
        font-size: 2.883rem;
    }
    h3{
        font-size: 2.563rem;
    }
    h4{
        font-size: 2.278rem;
    }
    h5{
        font-size: 2.025rem;
    }
    h6{
        font-size: 1.8rem;
    }
    
}


/*----------------------END OF TYPOGRAPHY-------------------------*/



/*----------------------SPECIFIC STYLES-------------------------*/



/*----------------------LINKS-------------------------*/

a{
    text-decoration: none;
}

.link-arrow{
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
}

.link-arrow::after{
    content: " -->";
    transition: margin 0.15s;
}
.link-arrow:hover::after{
    margin-left: 5px;
}

@media screen and (min-width:1024px) {

    /*LINKS - laptop version*/

    .link-arrow{
        font-size: 1.8rem;
    }

    
}




/*----------------------END OF LINKS-------------------------*/


/*----------------------BADGES-------------------------*/

.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary{
    background-color: var(--primary-color);
    color: var(--black);
}

.badge--secondary{
    background-color: var(--secondary-color);
    color: var(--black);
}

.badge--small{
    font-size: 1.6rem;
    padding: .5rem 1.5rem;
}


@media screen and (min-width:1024px) {

    /*BADGES - laptop version*/

    
    .badge{
        font-size: 1.6rem;
    }

    .badge--small{
        font-size: 1.2rem;
    }
    
}
/*----------------------END OF BADGES-------------------------*/




/*----------------------END OF LINKS-------------------------*/


/*----------------------LISTS-------------------------*/

.list{
    list-style: none;
    padding-left: 0;
    color: var(--black);
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--checked{
    list-style-image: url(../icons/tick.svg);
    padding-left: 3rem;
}
.list--checked .list__item{
    padding-left: .5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:1024px) {

    /*LISTS - laptop version*/
    .list--checked .list__item{
        padding-left: 0;
        margin-bottom: 1rem;
    }
    
    
}
/*----------------------END OF LISTS-------------------------*/


/*----------------------ICONS-------------------------*/

.icon{
    width: 40px;
    height: 40px;
}

.icon--black{
    fill: var(--black);
}
.icon--white{
    fill: var(--white);
}

.icon-container{
    background-color: var(--secondary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
/*----------------------END OF ICONS-------------------------*/


/*----------------------BUTTONS-------------------------*/

.btn{
    border-radius: 40px;
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    white-space: nowrap;
}

.btn--primary{
    background-color: var(--primary-color);
    color: var(--black);
}
.btn--primary:hover{
    background-color: var(--black);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn--secondary{
    background-color: var(--secondary-color);
    color: var(--black);
}
.btn--secondary:hover{
    background-color: var(--black);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
.btn--accent{
    background-color: var(--accent-color);
    color: var(--black);
}
.btn--accent:hover{
    background-color: var(--black);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}
.btn--outline{
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
}
.btn--outline:hover{
    background-color: var(--secondary-color);
}

.btn--stretch{
    padding-left: 6rem;
    padding-right: 6rem;
}

.btn--block{
    width: 100%;
    display: inline-block;
}
@media screen and (min-width:1024px) {

    /*BUTTONS - laptop version*/
.btn{
    font-size: 1.6rem;
}
 
}
/*----------------------END OF BUTTONS-------------------------*/


/*----------------------INPUTS-------------------------*/

.input{
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    color: var(--black);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3rem;
}
.input:focus{
    background-color: var(--secondary-color);

}


@media screen and (min-width:1024px) {

    /*INPUTS - laptop version*/

    .input{
        font-size: 1.6rem;
    }

}
/*----------------------END OF INPUTS-------------------------*/

/*----------------------CARDS-------------------------*/

.card{
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px var(--box-shadow);
}

.card__header, .card__body{
    padding: 2rem 3rem;
}

.card--primary .card__header{
    background: var(--primary-color);
    color: var(--black);
}

.card--secondary .card__header{
    background: var(--secondary-color);
    color: var(--black);
}

/*----------------------END OF CARDS-------------------------*/


/*----------------------PLANS-------------------------*/

.plan{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.plan__name{
    margin: 0;
}

.plan__price{
    font-size: 6rem;
}
.plan__billing-cycle{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}
.plan__description{
    font-weight: 300;
    display: block;
    letter-spacing: 1px;
    padding: 1rem 0 0 .5rem;
}

.plan .list__item{
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.plan--popular .card__header{
    position: relative;
}
.plan--popular .card__header::before{
    content: url(../icons/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}

@media screen and (min-width:1024px) {

    /*PLANS - laptop version*/

    .plan__name{
        font-size: 1.4rem;
    }

    .plan__price{
        font-size: 5rem;
    }

    .plan__billing-cycle{
        font-size: 1.6rem;
    }
    .plan__description{
        font-size: 1.7rem;
    }
}
/*----------------------END OF PLANS-------------------------*/



/*----------------------MEDIA OBJECTS-------------------------*/

.media{
    display: flex;
}
.media__title{
    margin-top: 0;
}

.media__body{
    margin: 0 2rem;
}
.media__image{
    margin-top: 1rem;
}
/*----------------------END OF MEDIA OBJECTS-------------------------*/




/*----------------------QUOTES-------------------------*/

.quote{
    font-size: 2.4rem;
    font-style: italic;
    color: var(--accent-color);
    line-height: 1.3;
}
.quote__text::before{
    content: open-quote;
}
.quote__text::after{
    content: close-quote;
}
.quote img{
    border-radius: 100%;
}
.author__image{
    margin-top: 0;
}
.quote__author{
    font-size: 2.4rem;
}

@media screen and (min-width:1024px) {

    /*QUOTES - laptop version*/
    .quote{
        font-size: 2rem;
    }
    .quote__author{
        font-size: 2rem;
    }
    .quote__author::before{
        content: "--";
    }

}
/*----------------------END OF QUOTES-------------------------*/


/*----------------------GRIDS-------------------------*/

.grid{
    display: grid;
}

@media screen and (min-width:768px) {

    /*GRIDS - tablet version*/

    .grid--cols-2{
        grid-template-columns: 1fr 1fr;
    }
    
}
/*----------------------END OF GRIDS-------------------------*/


/*----------------------TESTIMONIALS-------------------------*/


.testimonial{
   background: var(--brand-gradient);
   padding: 2rem;
   margin: 0 2rem;
   font-size: 1.6rem;
}

@media screen and (min-width:768px) {

    /*TESTIMONIALS - tablet version*/

.testimonial .media{
    margin: 0 auto;
}
    
    
}
/*----------------------END OF TESTIMONIALS-------------------------*/


/*----------------------CALLOUTS-------------------------*/


.callout{
    padding: 4rem;
    border-radius: 5px;
}
 .callout--primary{
    background: var(--primary-color);
 }

 .callout__heading{
    margin-top: 0;
    font-size: 3rem;
 }

 .callout__content{
    text-align: center;
 }
 .callout .btn{
    place-self: center;
 }
 @media screen and (min-width:768px) {
 
     /*CALLOUTS - tablet version*/
 
    .callout .grid--cols-2{
        grid-template-columns: 1fr auto;
    }

.callout__content{
    text-align: left;
}
     .callout .btn{
        justify-self: start;
        margin: 0 2rem;
     }
     
 }
 /*----------------------END OF CALLOUTS-------------------------*/
 
 

/*----------------------COLLAPSIBLES-------------------------*/
.collapsible__header{
    display: flex;
    justify-content: space-between;
}

.collapsible__heading{
    margin-top: 0;
}
.collapsible__chevron{
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
.collapsible__content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .6s ease-in-out;
}
.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}
.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}



 /*----------------------END OF COLLAPSIBLES-------------------------*/
 
 /*----------------------BLOCKS-------------------------*/

    .block{
        --padding-vertical:6rem;
        padding: var(--padding-vertical) 2rem;
    }
    .block__heading{
        margin-top: 0;
    }
    .block--dark{
        background: var(--black);
        color: var(--white);
    }
    .block--skewed-right{
        clip-path: polygon(0 0, 100% 0, 100% 98%, 0 91%);;
        padding-bottom: calc(var(--padding-vertical) + 4rem);
    }
    .block--skewed-left{
        clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
        padding-bottom: calc(var(--padding-vertical) + 4rem);
    }
    .block__header{
        text-align: center;
    }

    @media screen and (min-width:1024px) {
        .container{
             max-width: 1140px;
        margin: 0 auto;
        }
    }
    
 /*----------------------END OF BLOCKS-------------------------*/
 
 
 /*----------------------NAVIGATION BAR-------------------------*/

 .nav{
    background: var(--accent-color-softer);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
 }
 .nav img{
    width: 11rem;
    height: 100%;
 }

 .nav__list{
    width: 100%;
    margin: 0;
 }
 .nav__item{
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
 }
 .nav__item>a{
    color: var(--black);
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0.5rem 2rem;
    border: 2px solid rgba(0, 0, 0, 0);
    text-align: center;
    transition: all 0.4s;
 }
 .nav__item>a:hover{
    background-color: var(--black);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
 }
 .nav__toggler{
    opacity: .5;
    align-self: center;
 }
 .collapsible--expanded .nav__toggler{
    opacity: 1;
 }
@media screen and (min-width:768px) {

 /*NAVIGATION BAR - tablet version*/

 .nav__toggler{
    display: none;
 }
 .nav__list{
    width: 70%;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    justify-content: flex-end;
    margin-right: 6rem;
    max-height: 100%;
    opacity: 1;
 }
 .nav img{
    width: 8rem;
    height: 100%;
    margin-left: 6rem;
 }
 .nav__item{
    border-bottom: none;
    width: fit-content;
 }
}
/*----------------------END OF NAVIGATION BAR-------------------------*/
/*----------------------HERO BLOCK-------------------------*/

.hero__tagline{
    letter-spacing: 1px;
    margin: 2rem 0 5rem 0;
}
.hero__image{
    width: 100%;
}
.hero__content .block__heading span{
    display: block;
    color: var(--accent-color);
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    padding-bottom: 1.5rem;
}
@media screen and (min-width:768px) {

 /*HERO BLOCK - tablet version*/

    .hero__content{
        text-align: left;
        align-self: center;
    }

    .hero{
        height: 91vh;
    }
}
/*----------------------END OF HERO BLOCK-------------------------*/
/*----------------------PLANS BLOCK-------------------------*/

.block-plans{
    padding-top: 0;
    padding-bottom: 0;
}


.plan-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
    .plan{
       box-shadow: 0 0 10px 5px var(--accent-color);
       border-radius: 6px;
    }
       .card__body, .card__header{
        padding: 4rem;
       }
@media screen and (min-width:768px) {

    /*PLANS BLOCK - tablet version*/
   
   
       .block-plans{
           margin: 0 auto;
       }
    .card__header{
        padding-left: 4rem;
    }
   .card__body{
    padding-left: 3rem;
   }
   }
@media screen and (min-width:1224px) {

    /*PLANS BLOCK - laptop version*/
   
   
    .block-plans{
        width: 90vw;
        height: 100vh;
        
    }
    .plan{
       width: 30%;
    }
       .plan-group{
           flex-direction: row;
           justify-content: center;
           padding-top: 10%;
       }
       .plan--popular{
           transform: scale(1.1);
       }
       
   }
/*----------------------END OF PLANS BLOCK-------------------------*/
/*----------------------FEATURE BLOCK-------------------------*/

.feature {
    display: flex;
    flex-direction: column;
    gap: 4rem 9rem;
    align-items: center;
    text-align: center;
  }
  .feature__block{
    padding-top: 0;
  }
  .feature__heading {
    margin: 1rem 0;
  }
  
  .feature__image {
    width: 100%;
    margin-bottom: 4rem;
  }
  .feature:nth-of-type(even){
   flex-direction: column-reverse;
  }
  @media screen and (min-width: 1024px) {
    .feature, .feature:nth-of-type(even){
        flex-direction: row;
        height: 60vh;
        gap: 16rem;
    }
    .feature{
        text-align: left;
        overflow: hidden;
    }
    .feature__image{
        transform: scale(1.4);
        justify-self: center;
    }
  }
  

  
/*----------------------END OF FEATURE BLOCK-------------------------*/
