@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*----------------------VARIABLES-------------------------*/


:root{
    --primary-color: #FFD95A;
    --secondary-color: #FFF7D4;
    --accent-color: #C07F00;
    --brand-gradient: linear-gradient(90deg, rgba(192,127,0,1) 19%, rgba(255,245,149,1) 87%);
    --black: #060600;
    --white: rgb(255, 255, 240);
}






/*----------------------GENERAL STYLES-------------------------*/

/* Resetting box-sizing for all elements */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Setting base font size to 10px (62.5% of the default browser font size) */
html {
    font-size: 62.5%;
}
/*Now, 1rem = 10px, 1.6rem = 16px, 2.6rem = 26px etc*/

body{
    background-color: var(--white);
    color: var(--black);
    font-family: "Exo 2", sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    overflow: hidden auto; /*Hides horizontal overflow and shows vertical scrollbar only when there is an overflow*/
    word-spacing: 2px;
}



/*----------------------TYPOGRAPHY - mobile version-------------------------*/

h1, h2, h3, h4, h5, h6{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1rem;
}
h1{
    font-size: 7.166rem;
}
h2{
    font-size: 5.972rem;
}
h3{
    font-size: 4.977rem;
}
h4{
    font-size: 4.147rem;
}
h5{
    font-size: 3.456rem;
}
h6{
    font-size: 2.88rem;
}

p{
    margin-top: 0;
}
small{
    font-size: 2rem;
}





/*----------------------SPECIFIC STYLES-------------------------*/




/*----------------------MEDIA QUERIES----------------------------*/

@media screen and (min-width:1024px) {

    /*TYPOGRAPHY - laptop version*/

    body{
        font-size: 1.6rem;
    }
    h1{
        font-size: 4.778rem;
    }
    h2{
        font-size: 3.981rem;
    }
    h3{
        font-size: 3.318rem;
    }
    h4{
        font-size: 2.765rem;
    }
    h5{
        font-size: 2.304rem;
    }
    h6{
        font-size: 1.92rem;
    }
    small{
        font-size: 1.333rem;
    }
    
}
