<footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collapsible collapsible--expanded footer__section">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">PRODUCTS</h2>
            <svg class="icon icon--white collapsible__chevron"><use xlink:href="icons/sprite.svg#chevron"></use></svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li class="list__item">Website Hosting</li>
            <li class="list__item">Free Automated</li>
            <li class="list__item">Wordpress</li>
            <li class="list__item">Migrations</li>
        </ul>
        </div>
    </section>
    <section class="collapsible footer__section">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">COMPANY</h2>
            <svg class="icon icon--white collapsible__chevron"><use xlink:href="icons/sprite.svg#chevron"></use></svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li class="list__item">About</li>
            <li class="list__item">Affiliates</li>
            <li class="list__item">Blog</li>
        </ul>
        </div>
      </section>
        <section class="collapsible footer__section">
          <header class="collapsible__header">
              <h2 class="collapsible__heading">SUPPORT</h2>
              <svg class="icon icon--white collapsible__chevron"><use xlink:href="icons/sprite.svg#chevron"></use></svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__item">Contact</li>
              <li class="list__item">Knowledge Base</li>
              <li class="list__item">FAQ
              </li>
          </ul>
          </div>
      </section>
      <section class="collapsible footer__section">
          <header class="collapsible__header">
              <h2 class="collapsible__heading">DOMAINS</h2>
              <svg class="icon icon--white collapsible__chevron"><use xlink:href="icons/sprite.svg#chevron"></use></svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__item">Domain Checker</li>
              <li class="list__item">Domain Transfer</li>
              <li class="list__item">Free Domain</li>
          </ul>
          </div>
        </section>
          <section class="footer__brand">
            <img src="images/MONOGRAM.png" alt="">
            <p class="footer__copyright">Copyright 2024 Marija M</p>
          </section>
  </footer>