<div class="media">
    <div class="media__image">
        <span class="icon-container">
            <svg class="icon icon--black"><use xlink:href="icons/InlineSprite.svg#snap"></use></svg>
        </span>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy start & managed updates</h3>
        <p>Our cloud plans include easy onboarding for new and existing sites and managed WordPress and WooCommerce auto-updates.</p>
    </div>
</div>



<div class="media">
    <div class="media__image">
        <span class="icon-container">
            <svg class="icon icon--black"><use xlink:href="icons/InlineSprite.svg#easy"></use></svg>
        </span>
    </div>
    <div class="media__body">
        <h3 class="media__title">Staging, Git & WP-CLI</h3>
        <p>We make your WordPress and WooCommerce development flow easier with convenient staging tool and Git and WP-CLI integration.</p>
    </div>
</div>