<section class="block block--dark">
  <h2 class="testimonial__header">What our Customers are Saying</h2>
  <div class="card testimonial">
    <div class="testimonial__gradient-div"></div>
    <blockquote class="quote">
      <p class="quote__text">
        MoonBeam's cloud services offer a compelling choice for individual
        developers, high-growth startups, as well as ISVs and SMEs (small and
        medium enterprises) aiming for a robust alternative to the major cloud
        providers, due to its deliberate simplicity, affordability, and
        flexibility. Positioned as a business-ready cloud solution, MoonBean
        facilitates the attainment of momentum and sustainable scalability for
        growing companies.
      </p>
      <div class="media">
        <div class="author__image">
          <img src="images/68.jpg" alt="" />
        </div>
        <div class="media__body">
          <h3 class="quote__author">Johanna Smith</h3>
          <p>ABC company</p>
        </div>
      </div>
    </blockquote>
  </div>
</section>